.MoneyInputContainer {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.MoneyInputContainer .addon{
    position: absolute;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
}
.MoneyInputContainer .addon{
    background-color: var(--blue-primary);
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.MoneyInputContainer .Input input{
    background-color: #fff;
    padding: 10px 12px;
    border: 1px solid #eaeaea;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 160px;
}

.MoneyInputContainer .Input p{
    margin: 0;
}