/* Contenido multimedia */
.CMTitle{
    border-bottom: 2px solid #000;
    padding: 0px 25px;
    width: calc(100% - 35px);
    display: block;
    margin: auto;
}
.CMTitle > * {
    font-size: 3em;
    color: #000 !important;
    text-transform: uppercase;
}

.CMList {
    position: relative;
    /* padding: 20px; */
}
.CMList .CMItem{
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 15px;
    padding-right: 95px;
    position: relative;
    min-height: 95px;
}

.CMList .CMItem:nth-child(odd){
    background-color: var(--bg-color-odd-evento);
}
.CMList .CMItem:nth-child(even){
    background-color: var(--bg-color-even-evento);
}
.CMList .CMItem .title strong{
    display: inline-block;
}
.CMList .CMItem .action{
    width: 75px;
    height: 75px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 7px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,.3);
    border: 1px solid var(--bg-header);
    color: var(--bg-header);
    position: absolute;
    right: 0;
    align-self: center;
    bottom: 0;
}
.CMList .CMItem .action p{
    margin: 0;
    font-size: .7em
}
.CMList .CMItem .action :first-child{
    font-size: 1.7em;
}
.CMList .CMItem .action :first-child{
    margin-bottom: 10px;
}
.CMList .CMItem .action p{
    margin-top: -10px
}
.CMList .CMItem > :first-child{
    min-width: 280px;
}
.CMList .CMItem > *:not(a){
    width: calc(100%);
    margin: 0 15px;
    font-size: .9em;
}
/* End contenido multimedia */

.CMList .CMItem{
    padding-bottom: 30px;
    margin: 30px 10px !important;
    border: 1px solid #ccc;
}

.CMList .CMItem .title.fixImg {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: auto;
    display: flex;
    align-items: center;
    z-index: 5;
}

.CMList .CMItem .title.fixImg .text-center {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px 9px;
    border-radius: 5px;
    position: relative;
    padding-left: 16px;
    left: -10px;
    z-index: -1;
    bottom: -12px;
    max-width: 250px;
    font-family: var(--font-condensed)
}


@media only screen and (max-width: 1280px) and (min-width: 300px){
    .CMList .CMItem{
        padding-right: 15px;
    }
    .CMList .CMItem .action{
        bottom: -40px;
    }
}