.CIDPaginationContainer{
    width: 100%;
    /* height: 50px; */
    /* background-color: red; */
}

.PaginationBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.PaginationBar > *{
    display: block;
    padding: 8px 15px;
    color: var(--blue-primary);
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .2);
    margin: 7px;
    transition: ease all .3s;
}

.PaginationBar > *:hover{
    background-color: var(--gray-primary);
    color: #333;
}
.Current{
    background-color: var(--blue-primary);
    color: #fff;
    font-weight: bold;
    border-radius: 12px;
}
.Separator{
    background-color: var(--black-primary);
    color: #fff;
    /* opacity: .5; */
}